/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.background-primary {
    background-color: #512da8 !important;
}
.background-accent {
    background-color: #ffc107 !important;
}
.text-floral-white {
    color: floralwhite !important;
}
.flex-spacer {
    flex: 1 1 auto;
}
